<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sms</display-name>
  <welcome-file-list>
    <welcome-file>tyro.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>tyro</servlet-name>
    <jsp-file>/tyro.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>tyro</servlet-name>
    <url-pattern>/tyro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showPaymentBySms</servlet-name>
    <jsp-file>/showPaymentBySms.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>showPaymentBySms</servlet-name>
    <url-pattern>/showPaymentBySms</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>paymentHistory</servlet-name>
    <jsp-file>/Admin/paymentHistory.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentHistory</servlet-name>
    <url-pattern>/Admin/paymentHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminLogin</servlet-name>
    <jsp-file>/Admin/adminLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/Admin/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminSignIn</servlet-name>
    <servlet-class>com.servlet.admin.adminSignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminSignIn</servlet-name>
    <url-pattern>/Admin/adminSignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentByAdmin</display-name>
    <servlet-name>PaymentByAdmin</servlet-name>
    <servlet-class>com.servlet.admin.PaymentByAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentByAdmin</servlet-name>
    <url-pattern>/Admin/PaymentByAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.servlet.admin.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/Admin/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferAmount</display-name>
    <servlet-name>TransferAmount</servlet-name>
    <servlet-class>com.servlet.common.TransferAmount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferAmount</servlet-name>
    <url-pattern>/TransferAmount</url-pattern>
  </servlet-mapping>
</web-app>